# Node Modules
node_modules/

# Logs
*.log

# Artifacts
dist/
build/
lib/

# Nx
.nx

# Environment Variables
.env

# Cache
.rollup.cache
.tsbuildinfo

# Coverage
coverage/

# Secrets
.secrets

# MacOS
.DS_Store
